# dependencies
blog-project-starter-frontend/node_modules/
blog-project-starter-backend/node_modules/

# build folders
blog-project-starter-frontend/build/
blog-project-starter-backend/dist/

# vercel files
.vercel/
blog-project-starter-frontend/.vercel/
blog-project-starter-backend/.vercel/

# environment files
.env
blog-project-starter-frontend/.env
blog-project-starter-backend/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*